<!DOCTYPE html>
<html>
  <head>
    <title>Quizness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <%= link_to root_path, class: 'navbar-brand float-left' do %>
  <span>Quizness</span>
  <% end %>
</nav>



    <%= yield %>
  </body>
</html>
